In [ ]:
# Set up Spark environment  
from spark_utils import get_spark  
import pandas as pd  

spark = get_spark()

In [ ]:
df = spark.read.csv("/home/jovyan/shared/data.csv", header=True)  
df.toPandas().head(4)  # You can also use df.show() without converting

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...

In [ ]:
df.createOrReplaceTempView("df_example")  # Save DataFrame as a temporary table  
sql_df = spark.sql("SELECT * FROM df_example")  # Query the table  

sql_df.show(4)  # Display the first 4 rows of the DataFrame